{% extends 'layouts/base.twig' %}

{% block content %}
    
    {% include 'molecules/banner.twig' with {
        content: {
            message: "<p>Situated in the heart of Central London, Lincoln’s Inn is a beautiful and tranquil estate with historic halls and contemporary meeting facilities. Our passionate and highly skilled hospitality team are renowned for creating and delivering exceptional corporate events, innovative fine dining experiences and spectacular weddings that leave lasting memories.</p>",
        }
    } %}

    {% include 'molecules/banner.twig' with {
        type: "contacts",
        content: {
            title: "Contact us",
            message: "<p>Our dedicated venue sales team are looking forward to helping you organise your bespoke event at Lincoln’s Inn, so please do not hesitate to get in touch today.</p>",
            links: [
                {
                    class: "banner__list-item--phone",
                    cta_text: "0207 405 1393",
                    cta: "tel:02074051393",
                },
                {
                    class: "banner__list-item--email",
                    cta_text: "mail@lincolnsinn.org.uk",
                    cta: "mailto:mail@lincolnsinn.org.uk",
                },
            ]
        }
    } %}

    {% include 'molecules/banner.twig' with {
        type: "announcement",
        content: {
            title: "Exceptional food, dedicated service and a wide range of events",
            message: "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel.</p>",
        }
    } %}

    {% include 'molecules/banner.twig' with {
        type: "promotion",
        content: {
            sub_title: "Lorem Ipsum",
            title: "Aenean leo ligula porttitor eu vitae",
            message: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud pellentesque eu, pretium quis, sem donec pede.</p>",
            extra_message: "<p>For further information email <a href='mailto:mail@lincolnsinn.org.uk'>mail@lincolnsinn.org.uk</a></p>",
        }
    } %}

{% endblock %}