<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="./wp-content/themes/myTheme/assets/css/main.css" />
    <title>My new myTheme</title>
    {{ function('wp_head') }}