.header {
    position: relative;
  
    @include media('<lg') {
      background-color: $c-white;
  
      #generic & {
        border-bottom: 1px solid $grey-light;
      }
  
      &.header--nav-open {
        border-bottom: none;
      }
    }
  
    &__branding {
      position: relative;
  
      @include media('<md') {
        padding-bottom: rem(24px);
        padding-top: rem(24px);
      }
  
      @include media('>=md', '<lg') {
        height: rem($header-height);
        padding-bottom: rem(18px);
        padding-top: rem(18px);
      }
    }
  
    &__branding-link {
      display: block;
      width: rem(190px);
  
      @include media('>=md') {
        width: rem(248px);
      }
  
      @include media('>=lg') {
        left: rem($container-padding);
        position: absolute;
        top: rem(47px + 30px);
        width: rem(304px);
        z-index: 2;
      }
    }
  
    &__branding-image {
      height: rem(40px);
  
      @include media('>=md') {
        height: rem(53px);
      }
  
      @include media('>=lg') {
        height: rem(64px);
      }
    }
  
    &__show-navigation {
      @include media('<lg') {
        position: absolute;
        right: rem($container-padding - 4px);
        top: rem(32px - 6px);
      }
  
      @include media('<lg') {
        .header--nav-open & {
          left: -9999px;
        }
      }
  
      @include media('>=lg') {
        display: none;
      }
    }
  
    &__show-navigation-icon {
      @include media('<lg') {
        width: rem(26px);
      }
    }
  
    &__nav {
      display: flex;
      flex-direction: column;
  
      @include media('>=lg') {
        position: relative;
        z-index: 1;
  
        &:before {
          background-color: $c-white;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 2;
        }
      }
    }
  
    &__nav-inner {
      @include media('<lg') {
        border-top: 1px solid $c-alto;
      }
  
      @include media('<lg') {
        background-color: $c-bg-alabaster;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: rem(88px);
        transform: translateX(-100%);
        width: 100%;
        z-index: 10;
  
        .header--nav-open & {
          transform: translateX(0);
        }
      }
    }
  
    &__nav-content {
      display: flex;
      flex-direction: column;
    }
  
    &__close {
      @include media('<lg') {
        position: absolute;
        right: rem(-5px + $container-padding);
        top: rem(-7px + 32px);
        z-index: 3;
      }
  
      @include media('<lg') {
        left: -9999px;
  
        .header--nav-open & {
          left: auto;
        }
      }
  
      @include media('>=lg') {
        @include v-hidden;
      }
    }
  
    &__close-icon {
      @include media('<lg') {
        width: rem(24px);
      }
    }
}

.has-admin-bar {
    .header {
      &__nav-inner {
        @include media('<lg') {
          top: rem(120px);
        }
  
        // @include screen('0', '783px') {
        //   top: rem(134px);
        // }
      }
    }
}

